body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  color: #213547;
  background-color: rgb(255, 251, 246);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
h4 {
  margin-top: -45.28px;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #efeeee;
  color: black;
}
button:hover {
  border-color: #646cff;
}
.cell.gameOver:hover, .cell.visible:hover, .cell.youWon {
  border-color: transparent;
  cursor: auto;
}
.cell.gameOver {
  background-color: rgb(231, 213, 213);
}
.cell.youWon {
  background-color: rgb(198, 228, 199);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
body[data-theme='dark'] {
  color: rgba(255, 255, 255, 0.87);
  background-color: #3b3b3b;
}
body[data-theme='dark'] button {
  background-color: #000000;
  color: white;
}
body[data-theme='dark'] .cell.gameOver {
  background-color: rgb(168, 48, 48);
}
body[data-theme='dark'] .cell.youWon {
  background-color: rgb(41, 150, 83);
}